import kotlin.math.*

fun main() {
    val point = Point(8,6)
    println(point.string())
    println(point.equals())
    println(point.symetric())
    println(point.distance())
}

class Point{
    private var x = 0
    private var y = 0

    constructor(x: Int, y: Int) {
        this.x = x
        this.y = y
    }
    fun string():String {
        return this.x.toString()+"-"+this.y.toString()
    }
    fun symetric():String{
        return "x = "+this.x*-1+" | "+"y = "+this.y*-1
    }
    fun equals():Boolean {
        return this.x === this.y
    }
    fun distance():Float{
        return sqrt(this.x.toFloat().pow(2)+this.y.toFloat().pow(2))
    }
}
